---
whiskers:
  version: 2.5.1
  matrix:
  - accent: ["blue", "dark", "flamingo", "green", "lavender", "light", "maroon", "mauve", "peach", "pink", "red", "rosewater", "sapphire", "sky", "teal", "yellow"]
  - flavor
  filename: "svgs/catppuccin-{{flavor.identifier}}-{{accent}}-cursors/index.theme"
---
[Icon Theme]
Name=Catppuccin {{ flavor.name }} {{ accent | capitalize }}
Comment=based on Volantes Cursors
