---
whiskers:
  version: 2.5.1
  matrix:
    - accent: ["blue", "dark", "flamingo", "green", "lavender", "light", "maroon", "mauve", "peach", "pink", "red", "rosewater", "sapphire", "sky", "teal", "yellow"]
    - flavor
  filename: "src/catppuccin-{{flavor.identifier}}-{{accent}}-cursors/top_right_corner_24.svg"
---
{%- if accent == 'dark' %}
  {%- set inner = flavor.colors["base"] -%}
  {%- set border = flavor.colors["text"] -%}
{% elif accent == 'light' %}
  {%- set inner = flavor.colors["text"] -%}
  {%- set border = flavor.colors["base"] -%}
{% else %}
  {%- set inner = flavor.colors[accent] -%}
  {%- set border = flavor.colors["base"] -%}
{% endif -%}

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M20.486 20.5a1 1 0 0 0 1-.986v-15a1 1 0 0 0-1-1h-15a1 1 0 0 0 0 2c7.744 0 14 6.256 14 14a1 1 0 0 0 1 .986m-1-8.572a16 16 0 0 0-6.414-6.414h6.414z" style="color:#000;opacity:.1;fill:#000;fill-opacity:1;stroke-linecap:round;stroke-linejoin:round;-inkscape-stroke:none;filter:url(#a)"/>
    <path d="M19.986 20a1 1 0 0 0 1-.986v-15a1 1 0 0 0-1-1h-15a1 1 0 0 0 0 2c7.744 0 14 6.256 14 14a1 1 0 0 0 1 .986m-1-8.572a16 16 0 0 0-6.414-6.414h6.414z" style="color:#000;fill:#{{ border.hex }};fill-opacity:1;stroke-linecap:round;stroke-linejoin:round;-inkscape-stroke:none"/>
    <path d="M19.986 19.014v-15h-15a15 15 0 0 1 15 15" style="fill:#{{ inner.hex }};fill-opacity:1;stroke:none;stroke-width:1.01551;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
    <defs>
        <filter id="a" width="1.046" height="1.046" x="-.023" y="-.023" style="color-interpolation-filters:sRGB">
            <feGaussianBlur stdDeviation=".162"/>
        </filter>
    </defs>
</svg>
